@import "../../assets/constants/variables.scss";

$color-roadmapLine: rgb(222, 227, 235);

.roadmap_treeWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 72%;
  margin-left: calc(((100% - 72%) / 2) + (#{$RoadmapCircleOuterSize}) / 2);
  @media screen and (max-width: 1000px) {
    width: 95%;
    margin-left: calc(((100% - 95%) / 2) + (#{$RoadmapCircleOuterSize}) / 2);
  }
}
.roadmap_itemWrapper {
  display: flex;
  width: 50%;
  justify-content: space-between;
  > .roadmap_connectingLine {
    height: 2px;
    margin: $RoadmapCircleCenter - 1;
    background-color: $color-roadmapLine;
  }
}
.roadmap_itemWrapper--even {
  margin-right: calc(50% - #{$RoadmapCircleOuterSize});
  > .roadmap_connectingLine {
    width: 29%;
    position: absolute;
    margin-right: auto;
    margin-left: 77px;
  }
}
.roadmap_itemWrapper--odd {
  margin-left: calc(50% - #{$RoadmapCircleOuterSize});
  > .roadmap_connectingLine {
    width: 68px;
    margin-left: 0;
  }
}
