@import "../../assets/constants/fonts.scss";

$color-roadmapTitleBackgroundText: rgb(242, 243, 245);
$color-roadmapTitleHeaderText: rgb(0, 2, 33);

.roadmapTitle {
  font-family: $font-family-cabin;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.roadmapTitle_backgroundText {
  color: $color-roadmapTitleBackgroundText;
  font-size: $font-size-adaptive-jumbo;
  margin: 0;
  letter-spacing: 15px;
}
.roadmapTitle_parallelogram {
  margin: 0 auto 0 30%;
  position: absolute;
  top: 35%;
}
.roadmapTitle_headerText {
  z-index: 5;
  position: absolute;
  bottom: 16%;
  width: 40%;
  margin: 0 30%;
  color: $color-roadmapTitleHeaderText;
}
