@import "../../assets/constants/fonts.scss";

$color-buttonText: rgb(65, 50, 129);
$color-buttonBorder: rgb(65, 50, 129);

.button {
  width: 155px;
  height: 50px;
  border: 2px solid $color-buttonBorder;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font-family_cabin;
  color: $color-buttonText;
  font-size: $font-size-smallest;
  letter-spacing: 0.5px;
}
.button_icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin: 0 5px;
}
.buttonText {
  &:after {
    content: "";
    background: none repeat scroll 0 0 transparent;
    bottom: -2px;
    border-radius: 3px;
    display: block;
    height: 2px;
    left: 50%;
    position: relative;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0;
    background: inherit;
  }
}
