@import "../../assets/constants/fonts.scss";

$color-timerDisplay: rgb(255, 255, 255);

.timer {
  position: relative;
  z-index: 5;
  color: $color-timerDisplay;
  font-family: $font-family_cabin;
  text-transform: uppercase;
  padding: 7% 0 0 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 61%;
  width: 335px;
  @media screen and (min-width: 1500px) {
    width: 100%;
    padding: 3% 0 0 12%;
  }
  @media screen and (max-width: 1120px) {
    width: 90%;
    height: 65%;
    padding: 5%;
    > .title {
      font-size: 30px !important;
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 700px) {
    > .title {
      font-size: 20px !important;
    }
  }
}
.timerDisplay {
  display: flex;
  justify-content: space-between;
  width: 100%;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.8vw;
  }
  @media screen and (max-width: 700px) {
    width: 90%;
    margin: auto;
  }
}
.timerDisplay_name {
  font-size: $font-size-smallest;
}
.timerDisplay_number {
  font-size: $font-size-adaptive-large;
}
