.social {
  margin: 0;
  padding: 0;
  display: flex;
  > li {
    list-style: none;
    padding: 0 6px;
  }
}

.social--github,
.social--bitcoin,
.social--reddit,
.social--medium,
.social--facebook,
.social--linkedin,
.social--twitter,
.social--telegram {
  background-image: url("../../assets/images/social.png");
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 20px;
}

.social--github {
  background-position: 100%;
}
.social--bitcoin {
  background-position: 86%;
}
.social--reddit {
  background-position: 72%;
}
.social--medium {
  background-position: 57%;
}
.social--facebook {
  background-position: 43%;
}
.social--linkedin {
  background-position: 28%;
}
.social--twitter {
  background-position: 14%;
}
.social--telegram {
  background-position: 0%;
}
