@import "../../assets/constants/fonts.scss";
$color-sliderColor: rgb(255, 255, 255);

.citationSlider {
  color: $color-sliderColor;
  height: 100%;
  width: 91%;
  @media screen and (max-width: 1120px) {
    width: 100%;
  }
}
.citationSlider_slide {
  height: 100%;
  width: 50% !important;
  display: block !important;
  margin: auto;
  outline: none;
  font-family: $font-family-montserrat;
  padding: 6% 0 0 10%;
  @media screen and (max-width: 1120px) {
    width: 60% !important;
    margin: unset;
  }
}
.citationSlider_citation {
  font-size: $font-size-large;
  line-height: 24px;
  padding: 0 30px;
  @media screen and (max-width: 1120px) {
    width: 80%;
    padding: 0;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
    padding: 0;
  }
}
.citationSlider_personInfoWrapper {
  display: flex;
  align-items: center;
  margin-top: 6%;
}
.citationSlider_logo {
  background-image: url("../../assets/images/logo-roundBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  margin-right: 25px;
}
.citationSlider_name,
.citationSlider_position,
.citationSlider_company {
  font-size: $font-size-smallest;
  line-height: 19px;
}
.citationSlider_position,
.citationSlider_company {
  opacity: 0.7;
}
