@import "../../assets/constants/fonts.scss";
@import "../../assets/constants/variables.scss";

$color-goalListItem: rgb(0, 2, 33);
$color-goalListItem--finished: rgba(0, 2, 33, 0.4);
$color-goalTitle: rgb(0, 2, 33);
$color-goalTitle--current: rgb(54, 158, 207);
$color-goalTitle--finished: rgba(0, 2, 33, 0.4);

.goal {
  width: 90%;
}
.goal_title {
  color: $color-goalTitle;
  font-family: $font-family-cabin;
  font-size: $font-size-larger;
  margin-top: ($RoadmapCircleOuterSize - $RoadmapCircleDiameter) / 2 - 2;
  margin-bottom: 5px;
}
.goal_list {
  margin: 0;
  padding-left: 22px;
}
.goal_listItem {
  color: $color-goalListItem;
  font-family: $font-family-montserrat;
  font-size: $font-size-small;
  padding: 2px 0;
  letter-spacing: -0.5px;
}
.goal--current {
  @extend .goal;
  .goal_title {
    color: $color-goalTitle--current;
  }
}
.goal--finished {
  @extend .goal;
  .goal_title {
    color: $color-goalTitle--finished;
  }
  .goal_listItem {
    color: $color-goalListItem--finished;
  }
}
