@import "../../assets/constants/fonts.scss";

$color-FooterBackground: rgb(247, 248, 250);
$color-footerText: rgb(0, 2, 33);
$color-footerLine: rgb(221, 227, 235);

.footer {
  margin-top: 66px;
  border-top: 1px solid $color-footerLine;
}
.footer_social {
  width: calc(91% - 100px); //100px - Logo widht
  display: flex;
  justify-content: center;
}
.footer_whiteBg {
  display: flex;
  align-items: center;
  padding: 2% 9%;
  @media screen and (max-width: 700px) {
    padding: 2% 1%;
  }
}
.footer_grayBg {
  background-color: $color-FooterBackground;
  padding: 3% 9%;
  display: flex;
  justify-content: space-between;
  color: $color-footerText;
  font-family: $font-family-montserrat;
  font-size: $font-size-smallest;
  letter-spacing: -0.5px;
  @media screen and (max-width: 700px) {
    padding: 2% 1%;
  }
}
.footer_conditionsLinks {
  margin: 0;
  padding: 0;
  display: flex;
  > li {
    list-style: none;
    padding-right: 20px;
    > a {
      text-decoration: none;
      color: $color-footerText;
    }
  }
}
