//imports
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Cabin:700");

//variables
$fontFamily_montserrat: "Montserrat", sans-serif;
$fontFamily_cabin: "Cabin", sans-serif;

$font-size-smallest: 12px;
$font-size-small: 13px;
$font-size-large: 14px;
$font-size-larger: 17px;
$font-size-largest: 20px;

$font-size-adaptive-small: 2.5vw;
$font-size-adaptive-large: 3.7vw;
$font-size-adaptive-jumbo: 10vw;
