@import "../../assets/constants/variables.scss";

$color-mainBackground: rgb(255, 255, 255);
$color-roadmapLine: rgb(222, 227, 235);
$color-roadmapLine--finished: rgba(54, 158, 207, 0.4);
$color-roadmapLine--current: rgb(54, 158, 207);
$color-roadmapCircle: rgb(222, 227, 235);
$color-roadmapCircle--current: rgb(54, 158, 207);
$color-roadmapCircle--finished: rgb(54, 158, 207);
$color-roadmapCircle--finishedCheckMark: rgb(255, 255, 255);

.roadmapProgressLine {
  display: block;
  background-color: $color-mainBackground;
  z-index: 3;
}
.roadmapProgressLine_line {
  border-left: 2px dashed $color-roadmapLine;
  height: calc(100% - #{$RoadmapCircleOuterSize});
  margin: 0 $RoadmapCircleOuterSize / 2 - 1;
}
.roadmapProgressLine_circle {
  width: $RoadmapCircleDiameter;
  height: $RoadmapCircleDiameter;
  margin: ($RoadmapCircleOuterSize - $RoadmapCircleDiameter) / 2;
  background: $color-roadmapCircle;
  border-radius: 50%;
}
.roadmapProgressLine--finished {
  @extend .roadmapProgressLine;
  .roadmapProgressLine_line {
    border-left: 2px solid $color-roadmapLine--finished;
  }
  .roadmapProgressLine_circle {
    background: $color-roadmapCircle--finished;
    width: $RoadmapCircleDiameter * 1.5;
    height: $RoadmapCircleDiameter * 1.5;
    margin: (($RoadmapCircleOuterSize - $RoadmapCircleDiameter) / 2) -
      ($RoadmapCircleDiameter * 1.5 - $RoadmapCircleDiameter) / 2;
    //The current margin minus half of the difference between
    //the diameters of the usual RoadmapCircle and the _finished one.
    &:before {
      content: "✓";
      position: relative;
      color: $color-roadmapCircle--finishedCheckMark;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(1.2);
    }
  }
}
.roadmapProgressLine_current {
  @extend .roadmapProgressLine;
  .roadmapProgressLine_line {
    border-left: 2px solid $color-roadmapLine--current;
  }
  .roadmapProgressLine_circle {
    background: $color-roadmapCircle--current;
    &:before {
      content: "";
      display: block;
      position: relative;
      width: $RoadmapCircleDiameter * 1.5;
      height: $RoadmapCircleDiameter * 1.5;
      border: 2px solid $color-roadmapCircle--current;
      bottom: $RoadmapCircleDiameter / 2 - 2; //Half the diameter of the
      right: $RoadmapCircleDiameter / 2 - 2; //inner circle minus the width of the frame
      border-radius: 50%;
    }
  }
}
