@import "../../assets/constants/fonts.scss";

$color-backgroundFigureBackground: rgb(54, 158, 207);
$color-backgroundTitle: rgb(255, 255, 255);

.background {
  background-image: url("../../assets/images/bg.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 87vh;
  position: relative;
  top: -19px;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}
.background_title {
  z-index: 5;
  position: absolute;
  top: 36%;
  width: 60%;
  margin: 0 16%;
  color: $color-backgroundTitle;
  @media screen and (max-width: 1120px) {
    top: 12%;
    width: 90%;
    margin: auto;
    text-align: center;
    .title {
      font-size: 30px !important;
    }
  }
}
.background_titleParallelogram {
  margin: 0 auto 0 14%;
  top: 36%;
  position: relative;
  @media screen and (max-width: 1120px) {
    > .parallelogram {
      display: none;
    }
  }
}
.background_buttons {
  display: flex;
  position: absolute;
  top: 51%;
  margin: 0 16%;
  @media screen and (min-width: 1450px) {
    top: 65%;
  }
  @media screen and (max-width: 1120px) {
    margin: 0 0 0 16%;
    top: 35%;
  }
  @media screen and (max-width: 700px) {
    top: 35%;
    > .button {
      width: 100px !important;
      height: 35px;
      text-align: center;
    }
  }
  @media screen and (max-width: 300px) {
    margin: 0 0 0 20px;
  }
}
.background_parallelogram {
  top: 58%;
  position: relative;
  left: 61%;
  height: 210px;
  width: 513px;
  @media screen and (max-width: 1120px) {
    left: 0%;
    top: 53%;
    margin: 0 0 0 16%;
  }
  @media screen and (max-width: 700px) {
    left: 0%;
    top: 53%;
    margin: 0 0 0 16%;
    height: 100px;
    width: 353px;
    border-radius: 5px;
    background: $color-backgroundFigureBackground;
    > .parallelogram {
      display: none;
    }
  }
}
